@charset "utf-8";
@import url('https://fonts.googleapis.com/css?family=Nunito:400,700');
@import url('https://fonts.googleapis.com/css?family=Fugaz+One|Pacifico|Quicksand&display=swap');
// Set your brand colors
$purple: #8A4D76;
$pink: #FA7C91;
$brown: #757763;
$beige-light: #D0D1CD;
$beige-lighter: #EFF0EB;

// Update Bulma's global variables
$family-sans-serif: 'Quicksand', sans-serif;
$family-primary: "Fugaz One", cursive;
$family-secondary: 'Pacifico', cursive;
$grey-dark: $brown;
$grey-light: $beige-light;
$primary: $purple;
$link: $purple;


$widescreen-enabled: false;
$fullhd-enabled: false;

// Update some of Bulma's component variables
$body-background-color: $beige-lighter;
$control-border-width: 2px;
$input-border-color: transparent;
$input-shadow: none;

.dropdownArrow {
  border-color: white;
}
.arrowClosed {
  border-color: white;
}
.arrowOpen {
  border-color: white;
}


.playButton {
  color: #4d8a61;
}

// .stopButton {
//   color: hsla(349, 46%, 42.2%, 1);
// }

.dropdown-options {
  max-height: 400px;
}

.Dropdown-control {
  width: 300px;
}

.Dropdown-option {
  width: 300px;
}

.control-dbl {
  font-size: 1em;
  padding: 8px 10px 8px 10px;
  border: 1px solid #ccc;
  border-radius: 2px;
}

.learn {
  margin-bottom: 1em;
}
.paragraph {
  margin-bottom: 1em;
}

$navbar-item-img-max-height: 56px;


.App {
  text-align: center;
}

.App-logo {
  height: 40vmin;
  pointer-events: none;
}
//
// @include mobile {
//
// }

@media (prefers-reduced-motion: no-preference) {
  .App-logo {
    animation: App-logo-spin infinite 20s linear;
  }
}

.App-header {
  background-color: #282c34;
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-size: calc(10px + 2vmin);
  color: white;
}

.App-link {
  color: #61dafb;
}


@keyframes App-logo-spin {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
}
@import "../node_modules/bulma/bulma.sass";
